set $maintenance 0;

if (-f /etc/nginx/templates/utils/maintenance.lock) {
    set $maintenance 1;
}

if ($internal != 1) {
    set $maintenance "${maintenance}1";
}

if ($maintenance = 11) {
    return 503;
}